---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<hr>
<hr>


{% include base_path %}
{% for post in site.publications reversed %}
  
<h2>{{ post.title }}</h2>
<p>
  <strong>Date:</strong> {{ post.date | date: "%B %d, %Y" }}<br>
  <strong>About:</strong> {{ post.about }}<br>
  
  <a href="./../{{post.permalink}}">More Details</a>

  
</p>
<hr>

{% endfor %}


