
<html>

<!-- Main visible info -->
<p>
<strong>Date:</strong> {{ page.date | date: "%B %d, %Y" }}<br>
<strong>Abstract:</strong> {{ page.abstract }}<br>
<br>
{% if page.doi %}
<a href="https://doi.org/{{ page.doi }}" target="_blank">[URL]</a> |
{% endif %}

{% if page.pdf %}
<a href="{{ page.pdf }}" target="_blank">[PDF]</a> |
{% endif %}

{% if page.ppt %}
<a href="{{ page.ppt }}" target="_blank">[PPT]</a> |
{% endif %}

{% if page.poster %}
<a href="{{ page.poster }}" target="_blank">[Poster]</a> |
{% endif %}

{% if page.scholar %}
<a href="{{ page.scholar }}" target="_blank">[Google Scholar]</a> 
{% endif %}
    
</p>
<hr>

<iframe src="{{ page.pdf }}" width="100%" height="800px"></iframe>
<br>

</html>